<div class="container">
  <% flash.each do |name,msg| %>
    <div class="row">
      <div class= "col-sm-offset-2 col-sm-8">
        <div class="alert alert-<%= name %>" alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <h4><strong><%= name.upcase %></strong> <small><%= msg %></small></h4>
        </div>
      </div>
    </div>
  <% end %>
</div>

