$navbar-default-bg: #0069c0;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  color: white;
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 1.7em;
}

#menu-articles {
  color: white;
  font-weight: bold;
}

#menu-articles-dropdown {
  color: black;
  font-weight: bold;
}

#white {
  color: white;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('road.jpg');
  background-size: cover;
  height: 80vh;
  margin-top: 30px;
}

.jumbotron h1 {
  margin-top: 25vh;
  color: white;
  font-weight: bold;
  text-shadow: 4px 4px  #0069c0;
}

.btn-xlg {
  font-size: 1.7em;
}

footer {
  background-color: #004ba0;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
}

footer span {
  color: white;
}

footer ul {
  padding-top: 0px;
  margin-top: 0px;
  float: right;
  list-style: none;
  color: white;
}

footer ul li {
  margin-top: 0px;
  float: left;
  margin-left: 15px;
  color: white;
}
.field_with_errors {
  color: white;
}

.errors {
  background-color: #a00037;
  color: white;
  box-shadow: 2px 2px  #0069c0;
  text-shadow: 2px 2px black;
}

h2.errors {
  text-align: center;
  font-weight: bold;
  font-size: 1.6em;
  letter-spacing: 2px;
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

li.errors {
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 1.1em;
  list-style-type: none;
}

.notice {
  background-color: #689f38;
  box-shadow: 2px 2px  black;
}

h2.notice {
  text-align: center;
  font-weight: bold;
  font-size: 1.6em;
  letter-spacing: 2px;
  margin-top: 5px;
  padding-top: 10;
  padding-bottom: 10px;
  color: white;
  text-shadow: 2px 2px black;
}

li.notice {
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 1.1em;
  color: black;
  list-style-type: none;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.aritcle-meta-createby {
  border-top: 1px solid #eaeaea;
  margin-top: 2px;
}


.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}



